<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="assets/images/qepon_logo.png" alt="QePon Logo" class="navbar-logo">
      <a href="/">Twitter Analytics for SMM dashboard</a>
    </div>

    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="bs-example-navbar-collapse-6">
    <!-- <div class="collapse navbar-collapse" > -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="dashboard"><span>Dashboard</span></a>
        </li>
        <li>
          <a ui-sref="statistics"><span>Twitter Analytics Statistics</span></a>
        </li>
        <li>
          <!-- <a class="navbar-text" ui-sref="settings.info">
          <i class="glyphicon glyphicon-user"></i>&nbsp; Hi, {{vm.username}}!
          </a> -->
        </li>
        <li>
          <a ui-sref="logout" alt="Logout">
            <span class="glyphicon glyphicon-log-out"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
