<div class="container col-md-12 register-page">
    <div class="col-md-6 col-md-offset-3">
      <form class="form" method="post" name="form" ng-submit="" novalidate>
      <!-- <form class="form" method="post" name="form" ng-submit="register.register()" novalidate> -->
        <div class="form-group col-md-12">
          <h3>Register Page</h3>
          <i>Please enter Email and Password to register</i>
          <!-- <uib-alert type="{{register.alertType}}" class="text-center" ng-show="register.showAlert == true" ng-click="register.closeAlert()">
      {{register.alertMsg}}</uib-alert> -->
        </div>
        <div class="form-group  col-md-6">
         <input type="email" name="email" ng-model="" class="form-control" placeholder="Your Email" required>
         <!-- <input type="email" name="email" ng-model="register.cred.email" class="form-control" placeholder="Your Email" required> -->
        </div>
        <div class="form-group col-md-6">
          <input type="password" name="password" ng-model="" class="form-control" placeholder="Your Password" required>
          <!-- <input type="password" name="password" ng-model="register.cred.password" class="form-control" placeholder="Your Password" required> -->
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="firstname" ng-model="" class="form-control" placeholder="Your First Name" required>
          <!-- <input type="text" name="firstname" ng-model="register.cred.firstname" class="form-control" placeholder="Your First Name" required> -->
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="lastname" ng-model="" class="form-control" placeholder="Your Last Name" required>
          <!-- <input type="text" name="lastname" ng-model="register.cred.lastname" class="form-control" placeholder="Your Last Name" required> -->
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="country" ng-model="" class="form-control" placeholder="Your Country" required>
          <!-- <input type="text" name="country" ng-model="register.cred.country" class="form-control" placeholder="Your Country" required> --> 
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="phone" ng-model="" class="form-control" placeholder="Your Phone Number" required>
          <!-- <input type="text" name="phone" ng-model="register.cred.phone" class="form-control" placeholder="Your Phone Number" required> -->
        </div>
         <div class="form-group col-md-6">
          <textarea type="text" name="address" ng-model="" class="form-control" placeholder="Your Address" >
          </textarea>
          <!-- <textarea type="text" name="address" ng-model="register.cred.address" class="form-control" placeholder="Your Address" >
          </textarea> -->
        </div>
        <div class="form-action">
          <button type="submit">Register</button>
        </div>
      </fom>
  </div>
</div>