<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="assets/images/starbucks.jpg"><br>
        <h4 class="home-link">Starbucks Coffee</h4>
        <span class="dashboard-subtitle"><i>@starbucks</i></span>
        <table class="tweet-info">
          <tr>
            <td>Tweets</td><td>50000</td>
          </tr>
          <tr>
            <td>Followers</td><td>11000000</td>
          </tr>
          <tr>
            <td>Following</td><td>22000</td>
          </tr>
        </table>
      </li>
      <li>
          <a ui-sref="online-reputation">Online Reputation</a>
      </li>
      <li>
          <a ui-sref="customer-needs">Customer Need</a>
      </li>
      <li>
          <a ui-sref="community-engagement">Community Engagement</a>
      </li>
    </ul>
</div>